@import "tailwindcss";

:root {
  --primary: #415f91;
  --secondary: #415f91;
  --teriary: #705575;
  --color-primary: #222;
  --color-secondary: #eee;
  --surface: #ffffff;
  --background: #f0f0f0;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-teriary: var(--teriary);
  --color-fc-primary: var(--color-primary);
  --color-fc-secondary: var(--color-secondary);
  --color-surface: var(--surface);
  --color-background: var(--background);
}

